#login-container{
  max-width:400px;
  margin:0 auto;
}

#form-login{
  padding:40px;
}

#login{
  float:right;
}

#register{
  float:right;
  margin-right:20px;
}

span{
  float:right;
}

.clear{
  clear:both;
}

